/* Navbar */
.navbar {
	position: relative;
	z-index: 1;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 40px;
}

.jumbotron {
	text-align: center;
	height: 500px;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	position: relative;
}

.jumbotron img {
		margin-top: 90px;
		width: 250px;
}


.jumbotron::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	bottom: 0;
	position: absolute;
	background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.about {
	background-color: #a2d9ff;
}

.projects {
	background-color: #f3f4f5; 
}

.contact {
	background-color: #a2d9ff;
}

section {
	padding-top: 20px;
}



/* Desktop Version */
@media (min-width: 1200px) { 


	.navbar-brand, .nav-link {
		color: #fff !important;
		text-shadow: 0 0 2px rgba(0,0,0,.7);
	}

	.nav-link { 
		text-transform: uppercase;
		margin-right: 20px;
	}

	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid #fff;
		width: 100%;
		padding-bottom: 3px;
		margin-bottom: -6px;
	}


	.jumbotron {
		margin-top: -90px;
		height: 680px;
		background-position: 0 -200px;
	}

	.jumbotron img {
		margin-top: 150px;
		width: 300px;
	}


}

